extends layout

block content
  div.container
    div.card
      div.card-header
        div.card-title Pikachu
        div.card-title-center 50 HP
        img.card-header-image(src="https://pm1.narvii.com/6573/eb9f33da5597c886da6d6b065b58c83d595011a3_hq.jpg")
      div.card-body
        div.card-details
          div.rating
        div.description
          p.card-text-center Gnaw 10
          img.sort(src="https://toppng.com/uploads/preview/pokemon-electric-type-stickers-by-cat-games-inc-electric-energy-pokemon-symbol-11563101763qkg2toobev.png")
          p2.card-text Lightning Bolt 50
          p3.card-text Weakness
          p4.card-text Resistance
          p5.card-text Retreat Cost
          img.size(src="https://toppng.com/uploads/preview/pokemon-electric-type-stickers-by-cat-games-inc-electric-energy-pokemon-symbol-11563101763qkg2toobev.png")
          div.center
          add.card
          div.card-header

            div.card-title Mewtwo
              div.card-title-center 130 HP
              img.card-header-image(src="https://clipart.world/wp-content/uploads/2020/08/mewtwo-pokemon-png.png")
              div.card-details
                div.rating
                  div.description
                    p.card-text-center Physic 100
                    img.sort(src="https://www.clipartkey.com/mpngs/m/176-1763728_pokemon-psychic-symbol-pokemon-psychic-type-symbol.png")
                    p2.card-text Barrier 80
                      p3.card-text Weakness
                      p4.card-text Resistance
                      p5.card-text Retreat Cost
                      img.size(src="https://www.clipartkey.com/mpngs/m/176-1763728_pokemon-psychic-symbol-pokemon-psychic-type-symbol.png")








